body{
    background-color:black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-container{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card{
    display: flex;
    gap: 10px;
    border: 1px solid gray;
    width: 400px;
    border-radius: 10px;
    padding: 7px;
}
#proffesion{
    padding: 5px;
    border-radius: 5px;
}
.container > .form-group>.filter-btn{
    margin: 5px;
    color:black;
    background-color: #fff;
   padding: 5px;
    width: 140px;
}
.lower-sec{
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.lower-div{
    padding: 5px;
    display: flex;
    gap: 8px;
}
.container>.add-btn{
    width: 150px;
    color:black;
    background-color:#fff;
    padding: 5px;
}